{% extends 'components/login_action.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block wrapper %}
    {% block form %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>

                </div>
                <a href="{{ path('app_products_index') }}">Go to Dashbard</a>
            {% else %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="floating-label form-group">
                            <input class="floating-input form-control" type="text" value="" name="username" id="inputUsername" class="form-control"
                                   autocomplete="username" required autofocus>
                            <label>Usuario</label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="floating-label form-group">
                            <input class="floating-input form-control" type="password" name="password" id="inputPassword" class="form-control"
                                   autocomplete="current-password" required>
                            <label>Contraseña</label>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <button type="submit" class="btn btn-primary">{{ action }}</button>
                {% if action is same as "Acceder" %}
                    <p class="mt-3">
                        Crear una cuenta <a href="/register" class="text-primary">Registrarse</a>
                    </p>
                {% endif %}
            {% endif %}
        </form>
    {% endblock %}
{% endblock %}
