{% extends 'menu.html.twig' %}

{% block title %}Usuarios - Stockify{% endblock %}

{% block body %}
    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show">
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% for mensaje in app.flashes('mensaje') %}
        <div class="alert alert-{{app.flashes('css')[0]}} alert-dismissible fade show" role="alert">
            {{ mensaje }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-3">Usuarios</h4>
                </div>
                <a href="{{path('add_users')}}" class="btn btn-primary add-list">
                    <i class="las la-plus mr-3"></i>Nuevo usuario
                </a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive mb-3">
                <table class="table mb-0 tbl-server-info no-footer" role="grid">
                    <thead class="bg-white text-uppercase">
                        <tr class="ligth ligth-data" role="row">
                            <th class="text-left">Username</th>
                            <th class="text-left">Password</th>
                            <th class="text-left">Activo</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td class="text-left">{{user.username}}</td>
                                <td class="text-left">{{user.password}}</td>
                                <td class="text-left">{{user.active}}</td>
                                <td class="text-center">{{user.fecha_creacion}}</td>
                                <td class="text-right">
                                    <a class="badge bg-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" href="{{path('edit_users', {id: user.id})}}">
                                        <i class="ri-pencil-line"></i>
                                    </a>
                                    <a class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar usuario" href="{{path('delete_users', {id: user.id})}}">
                                        <i class="las la-minus"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
    </div>

    <script>
        const elementosLi = document.querySelectorAll('li'); // Seleccionar todos los elementos li
            elementosLi.forEach(elementoLi => {
            elementoLi.classList.remove('active'); // Eliminar la clase "active"
        });

        const elementoLiObjetivo = document.querySelector('li.menu-users'); // Seleccionar el elemento li objetivo
        elementoLiObjetivo.classList.add('active');
    </script>
{% endblock %}